<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/jokes/<%= joke.id %>?_method=PUT" method="POST">
        <input name="category" value="<%= joke.category %>" />
        <input name="textDari" value="<%= joke.textDari %>" />
        <!-- بقیه فیلدها -->
        <button type="submit">ذخیره</button>
      </form>
</body>
</html> -->

<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <title>حذف  جوک</title>
</head>
<body>
  <form action="/jokes/<%= joke.id %>?_method=DELETE" method="POST">
    <label>کتگوری:</label><br>
    <input type="text" name="category" value="<%= joke.category %>" required><br><br>

    <label>متن فارسی:</label><br>
    <textarea name="textDari" required><%= joke.textDari %></textarea><br><br>
  </form>
  <br>
  <a href="/jokes"><button>بازگشت به لیست</button></a>
</body>
</html>
