<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <title>ูุณุช ุฌูฺฉโูุง</title>
 
</head>
<body>
  <div class="body-list">
    <% if (jokes.length === 0) { %>
      <p style="color: red; text-align: center;">ูฺ ุฌูฺฉ ูพุฏุง ูุดุฏ! ๐ข</p>
    <% } else { %>
      <% jokes.forEach(joke => { %>
        <div class="joke-box">
          <p><strong>ฺฉุชฺฏูุฑ : </strong>   <%= joke.category %></p>
          <p><strong> ูุงุฑุณ : </strong>  <%= joke.textDari %></p>
          <p><strong> ูพุดุชู : </strong>   <%= joke.textPashto %></p>
          <p><strong>ุงูฺฏูุณ : </strong> <%= joke.translationEn %></p>
  
          <a href="/jokes/<%= joke.id %>/edit"><button>ูุฑุงุด</button></a>
          <form action="/jokes/<%= joke.id %>?_method=DELETE" method="POST" style="display:inline;">
            <button type="submit">ุญุฐู</button>
          </form>
        </div>
      <% }) %>
    <% } %>
  
    <a href="/"><button class="btn" type="submit">ุฑูุชู ุจู ุตูุญู ุงุตู</button></a>
  
  </div>
</body>
</html>
